In [13]:
import pandas as pd 
import numpy as np

In [14]:
df = pd.read_csv("Data 2023 Januari Azimuth and Altitude.csv")
df['Dates'] = pd.to_datetime(df['Datetime']).dt.date
df['Time'] = pd.to_datetime(df['Datetime']).dt.time

In [15]:
to_drop=['Datetime', 'Unnamed: 0']
df.drop(to_drop, inplace=True, axis=1)

In [16]:
df.head()

   Latitude  Longitude    Azimuth   Altitude       Dates      Time
0   -7.9271   112.6331  77.194752 -30.312057  2023-01-01  00:00:00
1   -7.9271   112.6331  78.406839 -29.841815  2023-01-01  00:05:00
2   -7.9271   112.6331  79.612169 -29.369533  2023-01-01  00:10:00
3   -7.9271   112.6331  80.810971 -28.895433  2023-01-01  00:15:00
4   -7.9271   112.6331  82.003476 -28.419729  2023-01-01  00:20:00